.checkout {
  display: flex;
  justify-content: space-between;
  padding: 20px 2vw;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 60vw;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media (max-width: 768px) {
  .checkout {
    padding: 3vw;
  }

  .checkout__left > h3 {
    font-size: 3vw;
  }
  .checkout__left > h2 {
    font-size: 4vw;
  }
}
