.checkoutProduct {
  display: flex;
  margin: 20px 0;
}

.checkoutProduct__info {
  padding-left: 2vw;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__price {
  margin-top: 5px;
}

.checkoutProduct__image {
  object-fit: contain;
  max-width: 200px;
  max-height: 300px;
  width: 10vw;
  height: 15vw;
  align-self: center;
}

.checkoutProduct__info > button {
  background-color: orange;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .checkoutProduct {
    margin: 1.5vh 0;
  }
  .checkoutProduct__info {
    padding-left: 2vw;
  }

  .checkoutProduct__title {
    font-size: 2.5vw;
  }

  .checkoutProduct__price {
    font-size: 2.5vw;
  }
  .checkoutProduct__rating > p {
    font-size: 2.5vw;
  }
}

@media (max-width: 500px) {
  .checkoutProduct__info > button {
    font-size: 2.5vw;
  }
}
