.header {
  height: 7vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__logo {
  width: 15vw;
  max-width: 100px;
  margin: 0 2vw;
  margin-top: 1.8vw;
  object-fit: contain;
}

.header__searchInput {
  outline-width: 0;
  flex: 1;
  border: none;
  height: 12px;
  padding: 10px;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 15px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.header__basketCount {
  margin: 0 1vw;
}

.header__dropdownBasket {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 250%;

  padding: 2vw;
  right: 1vw;
  top: 40px;
  border-radius: 5px;
}

.header__dropdownBasket > h3 {
  color: black;
  text-align: right;
}

.header__optionBasket:hover .header__dropdownBasket {
  display: block;
}

@media (max-width: 1000px) {
}

@media (max-width: 768px) {
  .header__searchInput {
    height: 4.5vh;
    padding: 1vw;
    font-size: 2vw;
  }
  .header__searchIcon {
    padding: 0.6vw;
    height: 2vh;
  }
  .header__optionLineOne {
    font-size: 1.5vw;
  }

  .header__optionLineTwo {
    font-size: 1.8vw;
    font-weight: 700;
  }

  .header__optionBasket > .MuiSvgIcon-root {
    font-size: 3.5vw;
  }

  .header__dropdownBasket > h3 {
    font-size: 2vw;
  }
}

@media (max-width: 550px) {
  .header__searchInput {
    font-size: 2.5vw;
    padding: 1.2vw;
    height: 4vw;
  }

  .header__option {
    margin-left: 0.4vw;
    margin-right: 0.4vw;
  }
}

@media (max-width: 400px) {
  .header__searchInput {
    padding: 1.4vw;
  }
}
