.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  object-fit: contain;
}

.header__searchInput {
  outline-width: 0;
  flex: 1;
  border: none;
  height: 12px;
  padding: 10px;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.header__basketCount {
  margin: 0 10px;
}

.header__dropdownBasket {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 250%;

  padding: 20px;
  right: 1px;
  top: 40px;
  border-radius: 5px;
}

.header__dropdownBasket > h3 {
  color: black;
  text-align: right;
}

.header__optionBasket:hover .header__dropdownBasket {
  display: block;
}
