.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  text-align: right;
  font-weight: 400;
}

@media (max-width: 768px) {
  .order {
    padding: 5vw;
  }
}

@media (max-width: 500px) {
  .order__id {
    position: absolute;
    top: 0.2vh;
    right: 1vw;
  }
}
